<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>@ViewData["Title"] - Portal Games</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar mb-3">
            <div class="container">
                <h3><a class="nav-link" asp-action="Index" asp-controller="Games">Portal Games</a></h3>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a id="cart" class="nav-link tab" asp-controller="Cart" asp-action="List">Корзина</a>
                    </li>
                    <li class="nav-item ">
                        <div class="dropdown">
                            <button class="btn btn-link nav-link dropdown-toggle tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Мои игры
                            </button>
                            <div id="myGames" class="dropdown-menu dropdown-menu-lg-left" aria-labelledby="myGames">
                                @foreach (var game in Repository.MyGames)
                                {
                                    <div>
                                        <b>@game.Name</b>
                                        <div style="font-size:smaller">@Repository.GenerateKey()</div>
                                    </div><hr />
                                }
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        @{
                            if (Repository.Account != null)
                            {
                                <a class="tab nav-link" asp-action="Login" asp-controller="Auth">@Repository.Account.Nickname</a>
                            }
                            else
                            {
                                <a class="nav-link tab" asp-action="Login" asp-controller="Auth">Вход</a>
                            }
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" >
        <div class="container">
            @*Ищи нашего телеграм-бота по никнейму <b>mygamebot_123!</b>*@
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <style>
        .center {
            display: inline-block;
            margin: 0 auto;
        }

        .nav-link:hover {
            color: black;
        }

        .details:hover {
            color: red;
        }

        .block-left {
            width: 50%;
            height: 600px;
            overflow: auto;
            float: left;
        }

        .block-right {
            width: 50%;
            height: 600px;
            overflow: auto;
        }

    </style>
    <script>
        $(function () {
            //var width = document.documentElement.clientWidth; //Ширина страницы (документа)
            //var height = document.documentElement.clientHeight; //Высота страницы (документа)
            //alert(width + " " + height);
        })
    </script>
</body>
</html>
